---
http_interactions:
- request:
    method: get
    uri: https://api.linkedin.com/v1/companies/162479?oauth2_access_token=AQUJwEF40pJUbVxsW_mujQ3QCiXvlTnMFk55SlfVPYRcAPdsn1oE1Hm8Ldlc61o57k96i04ufG81KFdPJIOSJswXsGyZ0tk9IMZea8sfNXMGMnZgikQJUQPkmRVYVw9BP1qH9tp7hJF32DQtzkBB_NE8xPASPVgXVWbbntChGyYqqDvF1p8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Li-Format:
      - json
  response:
    status:
      code: 200
      message:
    headers:
      x-li-request-id:
      - N1V0MZE9K9
      x-li-format:
      - json
      content-type:
      - application/json;charset=UTF-8
      x-li-fabric:
      - PROD-ELA4
      x-li-pop:
      - PROD-ELA4
      x-li-uuid:
      - +NPyvHIrLRMQGxdMPysAAA==
    body:
      encoding: UTF-8
      string: |-
        {
          "id": 162479,
          "name": "Apple"
        }
  recorded_at: Tue, 15 Oct 2013 03:40:32 GMT
- request:
    method: get
    uri: https://api.linkedin.com/v1/companies/universal-name=linkedin?oauth2_access_token=AQUJwEF40pJUbVxsW_mujQ3QCiXvlTnMFk55SlfVPYRcAPdsn1oE1Hm8Ldlc61o57k96i04ufG81KFdPJIOSJswXsGyZ0tk9IMZea8sfNXMGMnZgikQJUQPkmRVYVw9BP1qH9tp7hJF32DQtzkBB_NE8xPASPVgXVWbbntChGyYqqDvF1p8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Li-Format:
      - json
  response:
    status:
      code: 200
      message:
    headers:
      x-li-request-id:
      - DESJS1FXJO
      x-li-format:
      - json
      content-type:
      - application/json;charset=UTF-8
      x-li-fabric:
      - PROD-ELA4
      x-li-pop:
      - PROD-ELA4
      x-li-uuid:
      - SGFU2HIrLRMQ+MRPbCsAAA==
    body:
      encoding: UTF-8
      string: |-
        {
          "id": 1337,
          "name": "LinkedIn"
        }
  recorded_at: Tue, 15 Oct 2013 03:40:33 GMT
- request:
    method: get
    uri: https://api.linkedin.com/v1/companies?email-domain=apple.com&oauth2_access_token=AQUJwEF40pJUbVxsW_mujQ3QCiXvlTnMFk55SlfVPYRcAPdsn1oE1Hm8Ldlc61o57k96i04ufG81KFdPJIOSJswXsGyZ0tk9IMZea8sfNXMGMnZgikQJUQPkmRVYVw9BP1qH9tp7hJF32DQtzkBB_NE8xPASPVgXVWbbntChGyYqqDvF1p8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Li-Format:
      - json
  response:
    status:
      code: 200
      message:
    headers:
      x-li-request-id:
      - UJJKFZAATN
      x-li-format:
      - json
      content-type:
      - application/json;charset=UTF-8
      x-li-fabric:
      - PROD-ELA4
      x-li-pop:
      - PROD-ELA4
      x-li-uuid:
      - QEui83IrLRPQPik+aCsAAA==
    body:
      encoding: UTF-8
      string: |-
        {
          "_total": 1,
          "values": [{
            "id": 162479,
            "name": "Apple"
          }]
        }
  recorded_at: Tue, 15 Oct 2013 03:40:33 GMT
- request:
    method: get
    uri: https://api.linkedin.com/v1/companies::(162479,universal-name=linkedin)?oauth2_access_token=AQUJwEF40pJUbVxsW_mujQ3QCiXvlTnMFk55SlfVPYRcAPdsn1oE1Hm8Ldlc61o57k96i04ufG81KFdPJIOSJswXsGyZ0tk9IMZea8sfNXMGMnZgikQJUQPkmRVYVw9BP1qH9tp7hJF32DQtzkBB_NE8xPASPVgXVWbbntChGyYqqDvF1p8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Li-Format:
      - json
  response:
    status:
      code: 200
      message:
    headers:
      x-li-request-id:
      - DWXJHGBALM
      x-li-format:
      - json
      content-type:
      - application/json;charset=UTF-8
      x-li-fabric:
      - PROD-ELA4
      x-li-pop:
      - PROD-ELA4
      x-li-uuid:
      - IAccEHMrLROQZ6WF5SoAAA==
    body:
      encoding: UTF-8
      string: |-
        {
          "_total": 2,
          "values": [
            {
              "_key": "162479",
              "id": 162479,
              "name": "Apple"
            },
            {
              "_key": "universal-name=linkedin",
              "id": 1337,
              "name": "LinkedIn"
            }
          ]
        }
  recorded_at: Tue, 15 Oct 2013 03:40:33 GMT
- request:
    method: get
    uri: https://api.linkedin.com/v1/companies?is-company-admin=true&oauth2_access_token=AQUJwEF40pJUbVxsW_mujQ3QCiXvlTnMFk55SlfVPYRcAPdsn1oE1Hm8Ldlc61o57k96i04ufG81KFdPJIOSJswXsGyZ0tk9IMZea8sfNXMGMnZgikQJUQPkmRVYVw9BP1qH9tp7hJF32DQtzkBB_NE8xPASPVgXVWbbntChGyYqqDvF1p8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Li-Format:
      - json
  response:
    status:
      code: 200
      message:
    headers:
      x-li-request-id:
      - 3ETOCDSKOJ
      x-li-format:
      - json
      content-type:
      - application/json;charset=UTF-8
      x-li-fabric:
      - PROD-ELA4
      x-li-pop:
      - PROD-ELA4
      x-li-uuid:
      - SPkTK3MrLROwwBi8gSsAAA==
    body:
      encoding: UTF-8
      string: '{"_total": 0}'
  recorded_at: Tue, 15 Oct 2013 03:40:34 GMT
recorded_with: VCR 2.5.0
