---
http_interactions:
- request:
    method: get
    uri: https://api.linkedin.com/v1/people/~/network/updates?oauth2_access_token=AQUJwEF40pJUbVxsW_mujQ3QCiXvlTnMFk55SlfVPYRcAPdsn1oE1Hm8Ldlc61o57k96i04ufG81KFdPJIOSJswXsGyZ0tk9IMZea8sfNXMGMnZgikQJUQPkmRVYVw9BP1qH9tp7hJF32DQtzkBB_NE8xPASPVgXVWbbntChGyYqqDvF1p8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      x-li-request-id:
      - 5AV2JQKV2I
      x-li-format:
      - json
      content-type:
      - application/json;charset=UTF-8
      x-li-fabric:
      - PROD-ELA4
      x-li-pop:
      - PROD-ELA4
      x-li-uuid:
      - qFtSpnfOLBOwaXMbLSsAAA==
    body:
      encoding: UTF-8
      string: |-
        {
          "_count": 10,
          "_start": 0,
          "_total": 13,
          "values": [
            {
              "isCommentable": false,
              "isLikable": false,
              "timestamp": 1381695002000,
              "updateContent": {"person": {
                "apiStandardProfileRequest": {
                  "headers": {
                    "_total": 1,
                    "values": [{
                      "name": "x-li-auth-token",
                      "value": "name:Dack"
                    }]
                  },
                  "url": "http://api.linkedin.com/v1/people/mbAZ4HR8RV"
                },
                "firstName": "Josh",
                "headline": "No-bullshit Software Engineer",
                "id": "mbAZ4HR8RV",
                "lastName": "Jordan",
                "pictureUrl": "http://m.c.lnkd.licdn.com/mpr/mprx/0_tK6jMqPfpQ370lofKczaMnrmy_kxjqUfrB-CMBig_LK7GKu7On9AccBPtmX8Y1siPPXinrgl7GAr",
                "siteStandardProfileRequest": {"url": "http://www.linkedin.com/profile/view?id=18939563&authType=name&authToken=Dack&trk=api*a3296321*s3370311*"}
              }},
              "updateKey": "NCON-18939563-8e591d54*35afb*34269*38933*301715ac5349d-*1",
              "updateType": "NCON"
            },
            {
              "isCommentable": false,
              "isLikable": false,
              "timestamp": 1381693616000,
              "updateContent": {"person": {
                "apiStandardProfileRequest": {
                  "headers": {
                    "_total": 1,
                    "values": [{
                      "name": "x-li-auth-token",
                      "value": "name:24s3"
                    }]
                  },
                  "url": "http://api.linkedin.com/v1/people/4eTIydMs1T"
                },
                "firstName": "Bob",
                "headline": "Guy at EverTrue",
                "id": "4eTIydMs1T",
                "lastName": "Breznak",
                "pictureUrl": "http://m.c.lnkd.licdn.com/mpr/mprx/0_zR-8K5tqrNEyhBCYz0APKFGVrqDrGlCYcx60KFPQftJhjzvOMjGuObFeOJSfTn_tq4rYx8SQ5fvK",
                "siteStandardProfileRequest": {"url": "http://www.linkedin.com/profile/view?id=28903483&authType=name&authToken=24s3&trk=api*a3296321*s3370311*"}
              }},
              "updateKey": "NCON-28903483-378380f9*38bd6*347e5*3b636*38c5589b6692d-*1",
              "updateType": "NCON"
            },
            {
              "isCommentable": true,
              "isLikable": true,
              "isLiked": true,
              "likes": {
                "_total": 1,
                "values": [{"person": {
                  "firstName": "Josh",
                  "headline": "Test Engineer at LinkedIn2 Gem",
                  "id": "cDmdM9cb0H",
                  "lastName": "Testjordan"
                }}]
              },
              "numLikes": 1,
              "timestamp": 1381419977401,
              "updateComments": {
                "_total": 1,
                "values": [{
                  "comment": "Whaaaat",
                  "id": 5795295755790999552,
                  "person": {
                    "apiStandardProfileRequest": {
                      "headers": {
                        "_total": 1,
                        "values": [{
                          "name": "x-li-auth-token",
                          "value": "name:lTbb"
                        }]
                      },
                      "url": "http://api.linkedin.com/v1/people/cDmdM9cb0H"
                    },
                    "firstName": "Josh",
                    "headline": "Test Engineer at LinkedIn2 Gem",
                    "id": "cDmdM9cb0H",
                    "lastName": "Testjordan",
                    "siteStandardProfileRequest": {"url": "http://www.linkedin.com/profile/view?id=292221312&authType=name&authToken=lTbb&trk=api*a3296321*s3370311*"}
                  },
                  "sequenceNumber": 1,
                  "timestamp": 1381706181420
                }]
              },
              "updateContent": {"person": {
                "apiStandardProfileRequest": {
                  "headers": {
                    "_total": 1,
                    "values": [{
                      "name": "x-li-auth-token",
                      "value": "name:Dack"
                    }]
                  },
                  "url": "http://api.linkedin.com/v1/people/mbAZ4HR8RV"
                },
                "firstName": "Josh",
                "headline": "No-bullshit Software Engineer",
                "id": "mbAZ4HR8RV",
                "lastName": "Jordan",
                "pictureUrl": "http://m.c.lnkd.licdn.com/mpr/mprx/0_tK6jMqPfpQ370lofKczaMnrmy_kxjqUfrB-CMBig_LK7GKu7On9AccBPtmX8Y1siPPXinrgl7GAr",
                "siteStandardProfileRequest": {"url": "http://www.linkedin.com/profile/view?id=18939563&authType=name&authToken=Dack&trk=api*a3296321*s3370311*"},
                "skills": {
                  "_count": 2,
                  "values": [
                    {"skill": {"name": "OOP"}},
                    {"skill": {"name": "Distributed Systems"}}
                  ]
                }
              }},
              "updateKey": "PROF-18939563-5794095336964247552-*1",
              "updateType": "PROF",
              "updatedFields": {
                "_count": 1,
                "values": [{"name": "person/skills"}]
              }
            },
            {
              "isCommentable": false,
              "isLikable": false,
              "timestamp": 1381359223000,
              "updateContent": {"person": {
                "apiStandardProfileRequest": {
                  "headers": {
                    "_total": 1,
                    "values": [{
                      "name": "x-li-auth-token",
                      "value": "name:Dack"
                    }]
                  },
                  "url": "http://api.linkedin.com/v1/people/mbAZ4HR8RV"
                },
                "connections": {
                  "_total": 1,
                  "values": [{
                    "apiStandardProfileRequest": {
                      "headers": {
                        "_total": 1,
                        "values": [{
                          "name": "x-li-auth-token",
                          "value": "name:HNEa"
                        }]
                      },
                      "url": "http://api.linkedin.com/v1/people/eQwOZJj2ww"
                    },
                    "fir[...]
- request:
    method: get
    uri: https://api.linkedin.com/v1/people/~/network/updates/key=PROF-18939563-5794095336964247552-*1?oauth2_access_token=AQUJwEF40pJUbVxsW_mujQ3QCiXvlTnMFk55SlfVPYRcAPdsn1oE1Hm8Ldlc61o57k96i04ufG81KFdPJIOSJswXsGyZ0tk9IMZea8sfNXMGMnZgikQJUQPkmRVYVw9BP1qH9tp7hJF32DQtzkBB_NE8xPASPVgXVWbbntChGyYqqDvF1p8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      x-li-request-id:
      - 29Q4VV[...]
- request:
    method: get
    uri: https://api.linkedin.com/v1/people/~/network/updates/key=PROF-18939563-5794095336964247552-*1/update-comments?oauth2_access_token=AQUJwEF40pJUbVxsW_mujQ3QCiXvlTnMFk55SlfVPYRcAPdsn1oE1Hm8Ldlc61o57k96i04ufG81KFdPJIOSJswXsGyZ0tk9IMZea8sfNXMGMnZgikQJUQPkmRVYVw9BP1qH9tp7hJF32DQtzkBB_NE8xPASPVgXVWbbntChGyYqqDvF1p8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      x-li-request-id[...]
- request:
    method: get
    uri: https://api.linkedin.com/v1/people/~/network/updates/key=PROF-18939563-5794095336964247552-*1/likes?oauth2_access_token=AQUJwEF40pJUbVxsW_mujQ3QCiXvlTnMFk55SlfVPYRcAPdsn1oE1Hm8Ldlc61o57k96i04ufG81KFdPJIOSJswXsGyZ0tk9IMZea8sfNXMGMnZgikQJUQPkmRVYVw9BP1qH9tp7hJF32DQtzkBB_NE8xPASPVgXVWbbntChGyYqqDvF1p8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      x-li-request-id:
      - 1EAVI7D3AZ
      x-li-format:
      - json
      content-type:
      - application/json;charset=UTF-8
      x-li-fabric:
      - PROD-ELA4
      x-li-pop:
      - PROD-ELA4
      x-li-uuid:
      - AApNlJfOLBMwdaIwSSsAAA==
    body:
      encoding: UTF-8
      string: |-
        {
          "_total": 1,
          "values": [{"person": {
            "firstName": "Josh",
            "headline": "Test Engineer at LinkedIn2 Gem",
            "id": "cDmdM9cb0H",
            "lastName": "Testjordan"
          }}]
        }
  recorded_at: Sun, 13 Oct 2013 23:19:02 GMT
recorded_with: VCR 2.5.0
