---
http_interactions:
- request:
    method: get
    uri: https://api.linkedin.com/v1/people/~?oauth2_access_token=AQUJwEF40pJUbVxsW_mujQ3QCiXvlTnMFk55SlfVPYRcAPdsn1oE1Hm8Ldlc61o57k96i04ufG81KFdPJIOSJswXsGyZ0tk9IMZea8sfNXMGMnZgikQJUQPkmRVYVw9BP1qH9tp7hJF32DQtzkBB_NE8xPASPVgXVWbbntChGyYqqDvF1p8&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-li-request-id:
      - 03M2HIZ5ZZ
      x-li-format:
      - json
      content-type:
      - application/json;charset=UTF-8
      x-li-fabric:
      - PROD-ELA4
      x-li-pop:
      - PROD-ELA4
      x-li-uuid:
      - mBWfxe/MLBPwzEjFASsAAA==
    body:
      encoding: UTF-8
      string: |-
        {
          "firstName": "Josh",
          "headline": "Test Engineer at LinkedIn2 Gem",
          "lastName": "Testjordan",
          "siteStandardProfileRequest": {"url": "http://www.linkedin.com/profile/view?id=292221312&authType=name&authToken=lTbb&trk=api*a3296321*s3370311*"}
        }
  recorded_at: Sun, 13 Oct 2013 22:48:40 GMT
- request:
    method: get
    uri: https://api.linkedin.com/v1/people/id=Fy5e5a4mqr?oauth2_access_token=AQUJwEF40pJUbVxsW_mujQ3QCiXvlTnMFk55SlfVPYRcAPdsn1oE1Hm8Ldlc61o57k96i04ufG81KFdPJIOSJswXsGyZ0tk9IMZea8sfNXMGMnZgikQJUQPkmRVYVw9BP1qH9tp7hJF32DQtzkBB_NE8xPASPVgXVWbbntChGyYqqDvF1p8&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-li-request-id:
      - K70EU26VBI
      x-li-format:
      - json
      content-type:
      - application/json;charset=UTF-8
      x-li-fabric:
      - PROD-ELA4
      x-li-pop:
      - PROD-ELA4
      x-li-uuid:
      - sLbq6O/MLBMQaCG8uSoAAA==
    body:
      encoding: UTF-8
      string: |-
        {
          "firstName": "Sir Richard",
          "headline": "Chairman,Virgin Group.",
          "lastName": "B.",
          "siteStandardProfileRequest": {"url": "http://www.linkedin.com/profile/view?id=293623781&authType=name&authToken=Y22Y&trk=api*a3296321*s3370311*"}
        }
  recorded_at: Sun, 13 Oct 2013 22:48:41 GMT
- request:
    method: get
    uri: https://api.linkedin.com/v1/people/~/connections?oauth2_access_token=AQUJwEF40pJUbVxsW_mujQ3QCiXvlTnMFk55SlfVPYRcAPdsn1oE1Hm8Ldlc61o57k96i04ufG81KFdPJIOSJswXsGyZ0tk9IMZea8sfNXMGMnZgikQJUQPkmRVYVw9BP1qH9tp7hJF32DQtzkBB_NE8xPASPVgXVWbbntChGyYqqDvF1p8&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-li-request-id:
      - DKYIS1K51I
      x-li-format:
      - json
      content-type:
      - application/json;charset=UTF-8
      x-li-fabric:
      - PROD-ELA4
      x-li-pop:
      - PROD-ELA4
      x-li-uuid:
      - yIk8xgfNLBMQblmOAisAAA==
    body:
      encoding: UTF-8
      string: |-
        {
          "_total": 2,
          "values": [
            {
              "apiStandardProfileRequest": {
                "headers": {
                  "_total": 1,
                  "values": [{
                    "name": "x-li-auth-token",
                    "value": "name:24s3"
                  }]
                },
                "url": "http://api.linkedin.com/v1/people/4eTIydMs1T"
              },
              "firstName": "Bob",
              "headline": "Guy at EverTrue",
              "id": "4eTIydMs1T",
              "industry": "Leisure, Travel & Tourism",
              "lastName": "Breznak",
              "location": {
                "country": {"code": "us"},
                "name": "Greater Boston Area"
              },
              "pictureUrl": "http://m.c.lnkd.licdn.com/mpr/mprx/0_zR-8K5tqrNEyhBCYz0APKFGVrqDrGlCYcx60KFPQftJhjzvOMjGuObFeOJSfTn_tq4rYx8SQ5fvK",
              "siteStandardProfileRequest": {"url": "http://www.linkedin.com/profile/view?id=28903483&authType=name&authToken=24s3&trk=api*a3296321*s3370311*"}
            },
            {
              "apiStandardProfileRequest": {
                "headers": {
                  "_total": 1,
                  "values": [{
                    "name": "x-li-auth-token",
                    "value": "name:Dack"
                  }]
                },
                "url": "http://api.linkedin.com/v1/people/mbAZ4HR8RV"
              },
              "firstName": "Josh",
              "headline": "No-bullshit Software Engineer",
              "id": "mbAZ4HR8RV",
              "industry": "Computer Software",
              "lastName": "Jordan",
              "location": {
                "country": {"code": "us"},
                "name": "Greater Boston Area"
              },
              "pictureUrl": "http://m.c.lnkd.licdn.com/mpr/mprx/0_tK6jMqPfpQ370lofKczaMnrmy_kxjqUfrB-CMBig_LK7GKu7On9AccBPtmX8Y1siPPXinrgl7GAr",
              "siteStandardProfileRequest": {"url": "http://www.linkedin.com/profile/view?id=18939563&authType=name&authToken=Dack&trk=api*a3296321*s3370311*"}
            }
          ]
        }
  recorded_at: Sun, 13 Oct 2013 22:50:23 GMT
recorded_with: VCR 2.5.0
