---
http_interactions:
- request:
    method: get
    uri: https://api.linkedin.com/v1/people/~?oauth2_access_token=AQUJwEF40pJUbVxsW_mujQ3QCiXvlTnMFk55SlfVPYRcAPdsn1oE1Hm8Ldlc61o57k96i04ufG81KFdPJIOSJswXsGyZ0tk9IMZea8sfNXMGMnZgikQJUQPkmRVYVw9BP1qH9tp7hJF32DQtzkBB_NE8xPASPVgXVWbbntChGyYqqDvF1p8&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-li-request-id:
      - 03M2HIZ5ZZ
      x-li-format:
      - json
      content-type:
      - application/json;charset=UTF-8
      x-li-fabric:
      - PROD-ELA4
      x-li-pop:
      - PROD-ELA4
      x-li-uuid:
      - mBWfxe/MLBPwzEjFASsAAA==
    body:
      encoding: UTF-8
      string: |-
        {
          "firstName": "Josh",
          "headline": "Test Engineer at LinkedIn2 Gem",
          "lastName": "Testjordan",
          "siteStandardProfileRequest": {"url": "http://www.linkedin.com/profile/view?id=292221312&authType=name&authToken=lTbb&trk=api*a3296321*s3370311*"}
        }
  recorded_at: Sun, 13 Oct 2013 22:48:40 GMT
- request:
    method: get
    uri: https://api.linkedin.com/v1/people/id=Fy5e5a4mqr?oauth2_access_token=AQUJwEF40pJUbVxsW_mujQ3QCiXvlTnMFk55SlfVPYRcAPdsn1oE1Hm8Ldlc61o57k96i04ufG81KFdPJIOSJswXsGyZ0tk9IMZea8sfNXMGMnZgikQJUQPkmRVYVw9BP1qH9tp7hJF32DQtzkBB_NE8xPASPVgXVWbbntChGyYqqDvF1p8&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-li-request-id:
      - K70EU26VBI
      x-li-format:
      - json
      content-type:
      - application/json;charset=UTF-8
      x-li-fabric:
      - PROD-ELA4
      x-li-pop:
      - PROD-ELA4
      x-li-uuid:
      - sLbq6O/MLBMQaCG8uSoAAA==
    body:
      encoding: UTF-8
      string: |-
        {
          "firstName": "Sir Richard",
          "headline": "Chairman,Virgin Group.",
          "lastName": "B.",
          "siteStandardProfileRequest": {"url": "http://www.linkedin.com/profile/view?id=293623781&authType=name&authToken=Y22Y&trk=api*a3296321*s3370311*"}
        }
  recorded_at: Sun, 13 Oct 2013 22:48:41 GMT
recorded_with: VCR 2.5.0
